---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <PageHead slot="head" title="Manifiesto" />
  <Breadcrumbs items={[{ label: 'Manifiesto', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose">
        <h1 class="text-3xl font-bold mb-6">Manifiesto</h1>
        
        <p class="mb-4">
        a-log es una bitácora de aprendizaje, un repositorio de escritura libre, un archivo dinámico del pensamiento. 
        Surge por una necesidad personal de la escritura y pensamiento libres, sin miedos ni condiciones, en un solo archivo que me permita registrar, relacionar y compartir el conocimiento. 
        </p>
        
        <p class="mb-6">
        Es bitácora de navegación, de ex-ploración del mundo. </br>
        Es un territorio, mapa náutico. 
 </br>
        Es una apropiación de mi escritura, para nadie más que para mí, pero para todos. 
 </br>
        Es una colección desde una pasión por el aprendizaje continuo. 
 </br>
        Los posts no son productos terminados, sino entradas en espiral, siempre en posibilidad de ser re-escritas.
 </br>
        Este manifiesto no pretende capturar o fijar el “sentido” o propósito de este proyecto, ya que es algo vivo y como cualquier otra definición, no debe ser tomado tan en serio. 
        </p>
        
        <h2 class="text-2xl font-medium mt-8 mb-4">Confesión</h2>
        <p class="mb-4">
        A lo largo de mi vida he desarrollado una relación dicotómica con la escritura. Por un lado se siente como algo casi doloroso. Un proceso difícil en el que el pensamiento de “quién va a leer esto” de alguna u otra manera paraliza la posibilidad de la actividad. Esta actividad, de claridad mental, de registro, de exploración, siempre se ve condicionada por estándares estéticos, académicos, morales, etc. Entregar un “producto” escrito, no es cualquier cosa, es entregarse uno mismo; y en esa entrega se pone en juego no solo el ego, sino todo lo que constituye a uno mismo. Esa entrega es una entrega de lenguaje, que es lo que tenemos y lo que somos. Esta es una manera de escribir que muchas veces he encontrado tormentosa. 
        </p>
        
        <p class="mb-4">
        En este espacio quisiera generar una apertura. Quisiera dejarme llevar por una escritura honesta, más honesta que cualquier intento que he tenido de poesía, diario o autobiografía. El ensayo (libre), el mini ensayo, las notas y apuntes a margen de libro, cuando pienso “para que no se me olvide”, o las conversaciones con amigos, son algunos de los espacios donde he logrado tener un acercamiento al lenguaje que encuentro realmente auténtico. Que a-log sea una manera de habitar el lenguaje y la escritura de este modo; que me permita explorar, recordar y si es posible, tener conversaciones con otros.
        </p>
        
        <h2 class="text-2xl font-medium mt-8 mb-4">Condiciones de posibilidad</h2>
        <p>Quisiera reconocer algunas cosas que, tejiendo puentes entre sí, han dado voluntad y forma a este proyecto de manera directa. </p> 
        <ul class="list-disc pl-6 space-y-2 mb-6">
          <li>Mis profesoras y profesores del departamento de filosofía de la Universidad Iberoamericana. En particular Ana Barberena y Gabriela Méndez. </li>
          <li>El artículo <Link href="https://www.redalyc.org/pdf/4398/439852078004.pdf" external>Ecología crítica contemporánea</Link> de Graciela Montaldo. </li>
          <li>Los insights del psicoanálisis.</li>
          <li>Los miles o millones de publicadores en internet, de los que aprendo todos los días. En especial <Link href="https://www.lafondafilosofica.com/" external>Darin McNabb</Link>, <Link href="https://www.youtube.com/@elithecomputerguy" external>Eli the Computer Guy </Link> y <Link href="https://www.youtube.com/@ThePrimeagen" external> The Primeagen</Link>.</li>
          <li><Link href="https://enscribe.dev/" external>Enscribe</Link>, creador de la plantilla <Link href="https://github.com/jktrn/astro-erudite" external>astro-erudite</Link>, que es de código abierto y es utilizada por este proyecto. </li>
        </ul>

        <h2>Carta al lector</h2>
        
        <p class="mt-8">
        Si has leído todo esto, te invito a que explores y te pierdas en este mini-archivo, rincon del archivo más grande de la historia. No sé si cuando leas esto estará vacío, o será inmenso. De igual forma, espero inspirar algo en tu pensamiento más alla de que este sea un proyecto de autografía. Si algo surge ahí, así sea una crítica, estaré muy emocionado de ser contactado.
        </p>

        <p>Alejandro, escrito (por primera vez) el 7 de mayo del 2025</p>
      </div>
    </div>
  </section>
</Layout>
