---
import { cn } from '@/lib/utils'
import Link from './Link.astro'
import type { Heading } from './TableOfContents.astro'

interface Props {
  heading: Heading
  activeSlug?: string
}

const { heading, activeSlug } = Astro.props
---

<li class="list-inside list-disc px-4 text-xs text-left xl:list-none xl:p-0 xl:max-w-[280px]">
  <Link
    href={'#' + heading.slug}
    class="py-1 underline decoration-transparent underline-offset-[3px] hover:decoration-inherit xl:py-0 toc-link text-left text-start xl:text-left"
  >
    {heading.text}
  </Link>
  {
    heading.subheadings && heading.subheadings.length > 0 && (
      <ul class="translate-x-3 text-left xl:ml-4 xl:mt-2 xl:flex xl:translate-x-0 xl:flex-col xl:gap-2">
        {heading.subheadings.map((subheading: Heading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>